<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.roofcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity android:name=".activities.userProfile.EditProfileActivity" />
        <activity android:name=".activities.settings.settingitems.UpdateSkillsActivity" />
        <activity android:name=".activities.settings.settingitems.ChangePasswordActivity" />
        <activity android:name=".activities.settings.SettingActivity" />
        <activity android:name=".activities.settings.settingitems.SwitchAccountActivity" />
        <activity android:name=".activities.addpost.AddPostActivity" />
        <activity android:name=".activities.register.AddProfileImageActivity" />
        <activity android:name=".activities.register.AddSkillsActivity" />
        <activity
            android:name=".activities.register.UsernamePassActivity"
            android:singleUser="true" />
        <activity
            android:name=".activities.register.BasicDetailsFormActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.register.UserTypeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.bookingsForms.BookingAcceptFormActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activities.bookingsForms.BookRequestFormActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activities.bookingHistory.BookingHistoryActivity" />
        <activity android:name=".activities.bookingRequest.BookingRequestItemActivity" />
        <activity
            android:name=".activities.bookings.BookedItemsActivity" />
        <activity
            android:name=".activities.savedOffers.SavedOfferActivity" />
        <activity
            android:name=".activities.reviews.UserReviewsActivity" />
        <activity
            android:name=".activities.userOffer.UserOffers" />
        <activity
            android:name=".activities.userProfile.UserProfileActivity" />
        <activity
            android:name=".activities.search.SearchActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activities.dashboard.DashboardActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.register.RegisterPhoneNumActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.logIn.LogInActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activities.splashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>